<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="home">Home</a>
  </li>
  <li class="breadcrumb-item">
    About
  </li>
</ol>
<div class="jumbotron">
  ABOUT ME
  <br/> Hello! I’m Kannan Marimuthu. Web Developer with over 8 years of experience. Experienced with all stages of the development
  cycle for dynamic web projects. Having an in-depth knowledge including advanced HTML5, CSS3, JavaScript, jQuery, Angular
  JS. Strong background in management and leadership.
  <br/> NAME: Oliver Queen
  <br/> DATE OF BIRTH: 14 February 1986
  <br/> NATIONALITY: Citizen Of Envato
  <br/> ADDRESS: 23 High Hope Blvd., Some City, Some Country
  <br/> PHONE: (123) - 456-7890, (123) - 456-7890
  <br/> E-MAIL: oliver.queen@yahoo.com
  <br/>

  <br/>
  <br/>
  <br/> MY INTERESTS
</div>