<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="home">Home</a>
  </li>
  <li class="breadcrumb-item">
    Experience
  </li>
</ol>

<div class="jumbotron">
  <div *ngFor="let experience of experiences">
    {{experience.id}} - {{experience.companyName}} - {{experience.clientName}}
    <div class="card border-primary mb-3">
      <div class="card-header">{{experience.role}}</div>
      <div class="card-body">
        <h4 class="card-title">{{experience.companyName}}</h4>
        <p class="card-text">{{experience.desc}}</p>
      </div>
    </div>
  </div>
</div>