<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="home">Home</a>
  </li>
  <li class="breadcrumb-item">
    Contact
  </li>
</ol>
<script src='https://www.google.com/recaptcha/api.js'></script>
<div class="jumbotron">
  <form name="sentMessage" #contactForm="ngForm" id="contactForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="name-input">
          <div class="form-group">
            <input type="text" class="form-control" required [(ngModel)]="model.name" name="name" id="name" data-validation-required-message="Please enter your name."
              aria-invalid="false">
            <p class="help-block text-danger"></p>
            <span>Name *</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="email-input">
          <div class="form-group">
            <input type="email" class="form-control" required [(ngModel)]="model.email" name="email" id="email" data-validation-required-message="Please enter your email address."
              aria-invalid="false">
            <p class="help-block text-danger"></p>
            <span>Email *</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="textarea-input">
          <div class="form-group">
            <textarea class="form-control" id="message" required [(ngModel)]="model.message" name="message" data-validation-required-message="Please write your message."></textarea>
            <p class="help-block text-danger"></p>
            <span>Message *</span>
          </div>
        </div>
      </div>
      <div class="g-recaptcha" data-sitekey="6Le8CUsUAAAAAOhuSNXay9Ad6UXLmED7zQRU8zYI"></div>
      <div class="clearfix"></div>
      <div class="col-lg-12 text-center">
        <p class="lead">
          <button type="button" class="btn btn-primary btn-lg" (click)="onSubmit()">Send Message</button>
        </p>
      </div>
    </div>
  </form>
</div>