<ol class="breadcrumb">
  <li class="breadcrumb-item">
    Home
  </li>
</ol>
<div class="jumbotron">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Download CV</a>
  </p>
  <br/>
  <br/>
  <h1 class="display-6">
    <strong>I'M
      <a href="home">KANNAN</a> MARIMUTHU</strong>
  </h1>
  <p class="lead">FULLSTACK DEVELOPER</p>
  <hr class="my-4">
  <p>Over 10 years of professional experience as a Java J2EE Developer and Lead in Object Oriented development, implementation
    and maintenance of web and distributed Enterprise applications using Java/J2EE technologies.</p>
</div>