<ol class="breadcrumb">
  <li class="breadcrumb-item">
    Home
  </li>
</ol>
<div class="jumbotron">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Download CV</a>
  </p>
  <br/>
  <br/>
  <h1 class="display-6">
    <strong>I'M
      <a href="home">KANNAN</a> MARIMUTHU</strong>
  </h1>
  <p class="lead">FULLSTACK DEVELOPER</p>
  <hr class="my-4">
  <p>
      Hello! I’m a J2EE Developer with over 10 years of experience. Experienced with all stages of the development cycle for dynamic
    web projects. 
    Having an in-depth knowledge including Java, advanced HTML5, CSS3, JavaScript, jQuery, Angular . Strong background in management
    and leadership. </p>
</div>